header {
  background-color: #B0FFCF;
  width: 100%;
  height: 100px;
}

.container {
  display: flex;
  width: 100%;
}

div.col1 {
  background-color: #61DFFF;
  justify-content: flex-start;
  width: 200px;
  height: 500px;
}

div.col2 {
  background-color: #C199FF;
  justify-content: flex-end;
  width: 100%;
  height: 400px;
}

footer {
  background-color: #FF55A1;
  width: 100%;
  height: 100px;
}
